<h3>Listado de Heroes</h3>

<div *ngIf="deletedHero; else nothingwasDeleted">
    <h4>Heroe borrado: <small class="text-danger mt-2">{{deletedHero}}</small> </h4>
</div>


<ng-template #nothingwasDeleted>
    <h4>No ha borrado nada</h4>
</ng-template>

<button class="btn btn-outline-danger mt-2 mb-2" (click)="removeLastHero()" *ngIf="heroesName.length > 0">
    Borrar ultimo heroe
</button>

<ul class="mt-2 list-group" *ngFor="let name of heroesName">
    <li class="list-group-item">{{name}}</li>
</ul>

